$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.skin-black .logo {
  &:hover {
    text-decoration: none;
    background-color: #3b3b3b;
  }
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

#login-box .alert {
  margin-top: 15px;
  margin-left: 0;
}

a:hover, .clickable:hover {
  cursor: pointer;
}

.bs-callout {
  margin: 0 0 20px 0;
  padding: 10px 20px;
  border-left: 3px solid #eee;
}

.bs-callout-danger {
  background-color: #fdf7f7;
  border-color: #d9534f;
}

.flag-icon {
  margin-top: 4px;
}

.table > tbody + tbody {
  border-top: 0;
}

table.angular-ui-tree-nodes {
  display: table;
}
tbody.angular-ui-tree-node {
  display: table-row-group;
}
tr.angular-ui-tree-handle,
tr.angular-ui-tree-node {
  display: table-row;
}

table.table tr > td.table-children {
  padding: 0 0 0 30px;
  background: whitesmoke;
}
table.table td.table-children > table {
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
}
table.table tr > td > table td {
  border: 0;
}

#gallery .timeline-item .pull-right {
  margin-left: 5px;
}

#gallery .timeline-body {
  margin-bottom: 20px;

  .angular-ui-tree-empty {
    display: none;
  }

  .row > div {
    max-width: 180px;
  }

  .pull-center {
    text-align: center;
    margin: 0 auto 15px auto;
    border-bottom: 1px solid #dfdfdf;
    max-height: 18px;
    margin-bottom: 15px;
  }
}

.timeline-image {
  margin-bottom: 15px;
  min-width: 180px;

  a:hover {
    text-decoration: none;
  }

  a.delete {
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  span.move {
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    cursor: move;
  }
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 15px 15px 15px;
    float: left;
    min-width: 150px;
}

// Loading circle behind gallery images
img.loading-circle {
  width: 150px;
  height: 100px;
  background: url('/images/ajax-loader.gif') no-repeat center center;

  &.loaded {
    background-image: none;
  }
}
