$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

#login-box .alert {
  margin-top: 15px;
  margin-left: 0;
}

a:hover, .clickable:hover {
  cursor: pointer;
}

.bs-callout {
  margin: 0 0 20px 0;
  padding: 10px 20px;
  border-left: 3px solid #eee;
}

.bs-callout-danger {
  background-color: #fdf7f7;
  border-color: #d9534f;
}

.flag-icon {
  margin-top: 4px;
}

.table > tbody + tbody {
  border-top: 0;
}

table.angular-ui-tree-nodes {
  display: table;
}
tbody.angular-ui-tree-node {
  display: table-row-group;
}
tr.angular-ui-tree-handle,
tr.angular-ui-tree-node {
  display: table-row;
}

table.table tr > td.table-children {
  padding: 0 0 0 30px;
  background: whitesmoke;
}
table.table td.table-children > table {
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
}
table.table tr > td > table td {
  border: 0;
}
