<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Galleries
    <a class="pull-right btn btn-success" data-toggle="modal" data-target="#gallery-modal" ng-click="newGallery()"><i class="fa fa-plus"></i> New Gallery</a>
  </h1>


</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <ul id="gallery" class="timeline">

        <!-- timeline item -->
        <li ng-repeat="gallery in galleries | orderBy:'id':true">
          <i class="fa fa-camera bg-purple"></i>
          <div class="timeline-item">
            <a class="pull-right btn btn-danger btn-xs" ng-click="deleteGallery(gallery)"><i class="fa fa-minus"></i> Delete Gallery</a>
            <a class="pull-right btn btn-success btn-xs" data-toggle="modal" data-target="#gallery-item-modal" ng-click="addItemToGallery(gallery)"><i class="fa fa-plus"></i> Add Item</a>
            <a class="pull-right btn btn-success btn-xs" ng-click="saveOrder(gallery)" ng-disabled="!dragHappened"><i class="fa fa-save"></i> Save the order</a>

            <h3 class="timeline-header">
              <a data-toggle="modal" data-target="#gallery-modal" ng-click="editGallery(gallery)">{{ gallery.title }}</a>
            </h3>

            <div class="timeline-body" ui-tree="treeOptions">
              <div class="row" ui-tree-nodes ng-model="gallery.items">

                <!-- Display images -->
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 timeline-image"
                  ng-repeat="item in gallery.items"
                  ng-if="displayAllImages || $index < maxLoadedImages" ui-tree-node>

                  <!-- Drag handle -->
                  <span class="btn btn-warning btn-xs move" ui-tree-handle>Drag&amp;drop</span>

                  <!-- The image -->
                  <a target="_blank"
                    ng-href="http://api.historymakers.lv/image/{{ item.content }}">
                    <img ng-src="http://api.historymakers.lv/image/small/{{ item.content }}" onload="this.className+=' loaded'" alt="{{ item.id }}" class="img-responsive loading-circle" />
                  </a>

                  <!-- Delete button -->
                  <a target="_blank" class="btn btn-danger btn-xs delete"
                    ng-click="deleteItem(gallery.id, $index)">
                    Delete
                  </a>

                </div>

              </div>

              <!-- Nothing in this gallery: error -->
              <alert type="danger" ng-if="!gallery.items.length">There are no items in this gallery. Why not <a data-toggle="modal" data-target="#gallery-item-modal" ng-click="addItemToGallery(gallery)">add some</a>?</alert>

              <!-- Load/unload all images -->
              <div class="pull-center" ng-show="gallery.items.length > maxLoadedImages">
                <a class="btn btn-default" ng-model="displayAllImages" ng-show="!displayAllImages" btn-checkbox>
                  <i class="fa fa-caret-down"></i> Load all images <i class="fa fa-caret-down"></i>
                </a>
                <a class="btn btn-default" ng-model="displayAllImages" ng-show="displayAllImages" btn-checkbox>
                  <i class="fa fa-caret-up"></i> Un-load images <i class="fa fa-caret-up"></i>
                </a>
              </div>

            </div>
          </div>
        </li>
        <!-- END timeline item -->

        <li>
          <i class="fa fa-camera bg-purple"></i>
        </li>
      </ul>
    </div>
  </div>
</section>

<my-modal modalid="gallery-modal">

  <my-modal-header>
    <i class="fa fa-picture-o"></i>
    Gallery
  </my-modal-header>

  <form name="theForm" ng-submit="processForm()">
    <input type="hidden" name="id" ng-model="activeGallery.id">

    <div class="modal-body">

      <div class="bs-callout bs-callout-danger" ng-if="formErrors">
        <h4>Error!</h4>
        <p ng-repeat="error in formErrors">{{ formErrors[$index] }}</p>
      </div>

      <div class="form-group" ng-class="{ 'has-error': theForm.title.$invalid && !theForm.title.$pristine }">
        <div class="input-group">
          <span class="input-group-addon">Title:</span>
          <input
            type="text"
            name="title"
            class="form-control"
            placeholder="Gallery title"
            ng-model="activeGallery.title"
            ng-maxlength="100"
            required>
        </div>

        <p ng-show="theForm.title.$dirty && theForm.title.$error.required" class="help-block">This field is required.</p>
        <p ng-show="theForm.title.$error.maxlength" class="help-block">Title is too long.</p>
      </div>

      <div class="form-group" ng-class="{ 'has-error': theForm.slug.$invalid && !theForm.slug.$pristine }">
        <div class="input-group">
          <span class="input-group-addon">Slug:</span>
          <input
            type="text"
            name="slug"
            class="form-control"
            placeholder="Gallery slug"
            ng-model="activeGallery.slug"
            ng-pattern="/^[a-z0-9]+(?:-[a-z0-9]+)*$/"
            ng-maxlength="100">
        </div>

        <p ng-show="theForm.slug.$error.maxlength" class="help-block">Slug is too long.</p>
        <p ng-show="theForm.slug.$error.pattern" class="help-block">Slug contains invalid characters OR starts/ends with `-`.</p>
      </div>

    </div>
    <div class="modal-footer clearfix">
      <button type="button" class="btn btn-danger pull-left" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>
      <button type="submit" class="btn btn-primary pull-left" ng-disabled="theForm.$invalid"><i class="fa fa-check"></i> Save</button>
    </div>
  </form>

</my-modal>

<my-modal modalid="gallery-item-modal">

  <!-- <my-modal-header>
    <i class="fa fa-picture-o"></i>
    Gallery item
  </my-modal-header> -->

  <div class="nav-tabs-custom">
    <ul class="nav nav-tabs pull-right">
        <li class="active"><a href="#image" ng-click="do($event)" data-toggle="tab">Image</a></li>
        <li><a href="#video" ng-click="do($event)" data-toggle="tab">Video</a></li>
        <li class="pull-left header modal-title">
          <i class="fa fa-picture-o"></i>
          <span>Gallery Item</span>
        </li>
    </ul>
  </div>

  <div class="modal-body tab-content">

    <!-- Image tab -->
    <div class="tab-pane active" id="image">
      <alert ng-repeat="error in uploadErrors" type="danger" close="uploadErrors.splice($index, 1)">{{ error }}</alert>

      <div class="form-group">
        <input type="file" ng-file-select="onFileSelect($files, activeGallery.id)" multiple>
      </div>

      <!-- Placeholder images while the data is being uploaded -->
      <img ng-repeat="item in selectedFiles" src="/images/blank.gif" class="margin loading-circle" />

      <!-- Actual - uploaded - images -->
      <img ng-repeat="item in recentUploads | orderBy:'id':true" ng-src="http://api.historymakers.lv/image/small/{{ item.content }}" onload="this.className+=' loaded'" alt="{{ item.id }}" class="margin loading-circle" />
    </div>

    <!-- Video tab -->
    <div class="tab-pane" id="video">

      <form name="videoForm" ng-submit="processForm()">
        <div class="form-group" ng-class="{ 'has-error': videoForm.videoUrl.$invalid && !videoForm.videoUrl.$pristine }">
          <div class="input-group">
            <span class="input-group-addon">Video URL:</span>
            <input
              type="text"
              name="videoUrl"
              class="form-control"
              placeholder="http://"
              ng-model="videoUrl"
              ng-maxlength="100"
              required>
          </div>

          <p ng-show="videoForm.videoUrl.$dirty && videoForm.videoUrl.$error.required" class="help-block">This field is required.</p>
          <p ng-show="videoForm.videoUrl.$error.maxlength" class="help-block">videoUrl is too long.</p>
        </div>
      </form>

    </div>

  </div>
  <div class="modal-footer clearfix">
    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
  </div>

</my-modal>

