<section class="sidebar">

    <!-- Sidebar user panel -->
    <div class="user-panel">
        <div class="pull-left image">
            <img src="images/avatar3.png" class="img-circle" alt="User Image" />
        </div>
        <div class="pull-left info">
            <p>Hello, {{ currentUser.name }}</p>

            <a><i class="fa fa-circle text-success"></i> Online</a>
        </div>
    </div>

    <ul class="sidebar-menu">

        <li ng-repeat="instance in navigation" class="{{ navClass(instance) }}">
            <a ng-href="#{{ instance.url }}">
                <i class="fa {{ instance.icon }}" ng-if="instance.icon"></i>

                <span>{{ instance.name }}</span>
            </a>
        </li>

    </ul>
</section>
<!-- /.sidebar -->
